* {
    box-sizing: border-box;

}

.jumbotron {
    text-align: center;
}

.search {
    text-align: center;
}

.card {
    color: green;
    background-color: greenyellow;
}

#future-weather {
    padding-left: 25px;
}